* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#screen {
  height: 80vh;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}